@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Serif');

.h6 {
    font-family: 'PT Mono', monospace;
    padding-left: 80%;
}

.h5 {
    font-family: 'PT Serif', serif;;
    padding-left: 80%;
}